body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 100px;
}

h1 {
    justify-content: center;
    text-align: center;
}

h4 {
    justify-content: center;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

button {
    display: flex;
    flex: auto;
    height: 75px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: large;
}

.results {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: large;
    padding: 16px;
}

.btnContainer {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
